<%- include("./partials/header") %> 

<div class="row profile-row card-columns justify-content-around">
    <!-- Profile Column -->
    <div class="col-sm-3 profile-side p-4 text-center bio-side card">

        <h4><%= user.first_name %> <%= user.last_name %> </h4>
        <small><%= user.username %> </small><br>
        <small class="text-muted"><%= user.email %></small>

        <hr>

        <h5 class="text-primary">Bio</h5>
        <p class="text-muted"><%= user.bio %></p>

        <hr>

        <h5 class="text-primary">Total Projects</h5>
        <p><%= total_projects %></p>

        <hr>

        <h5 class="text-primary">Completed Projects</h5>
        <p><%= completedProjects %></p>

        <hr>

        <h5 class="text-primary">Ongoing Projects</h5>
        <p><%= ongoingProjects %></p>

        <hr>

        <!-- Edit Profile Button -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Edit Profile
        </button>
        <!-- Edit Profile Button -->

        

    </div>
    <!-- Profile Column -->


    <!-- Project Column -->
    <div class="col-sm-8 profile-side p-4 card">
        <!-- Create Project Button -->
        <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#projectModal">
        Create Project
        </button>
        <!-- Create Project Button -->



        <!-- List of All the Projects -->
        <h3 class="my-3 text-center">ALL PROJECTS</h3>
        <hr>

         <div class="row mt-4">

            <% user.projects.forEach(project => { %> 

                <div class="col-md-4">
                    <div class="card text-white bg-primary mb-3">
                        <h4 class="card-header"><a href="/<%= user.username %>/project/<%= project._id %>"><%= project.name %></a></h4>
                        <div class="card-body">
                            <small>Created on <strong><%= project.date_created_formatted %></strong></small>
                            <p class="card-text"><%= project.description %></p>
                        </div>
                        <% if (project.due_date_formatted !== "Invalid DateTime") { %>
                        <div class="card-footer">Due on <strong><%= project.due_date_formatted %></strong></div>
                        <% } %>
                    </div>
                </div>

            <% }) %> 
         </div>
        <!-- List of All the Projects -->

    </div>
    <!-- Project Column -->

</div>


<script>
    
    const profileEditForm = document.querySelector("#edit-profile");
    const emailError = document.querySelector(".email.error");


    // Event Listener to edit profile
    profileEditForm.addEventListener("submit", async(e) => {
        e.preventDefault();

        emailError.textContent = "";

        const first_name = profileEditForm.first_name.value;
        const last_name = profileEditForm.last_name.value;
        const email = profileEditForm.email.value;
        const bio = profileEditForm.bio.value;

        try {
            const res = await fetch("/<%= user.username %>/edit", {
                method: "POST",
                body: JSON.stringify({ first_name, last_name, email, bio }),
                headers: { "Content-Type": "application/json" }
            });
            const data = await res.json();

            if (data.user) {
                location.assign(`/${data.user.username}`);
            }

            if (data.errors) {
                emailError.textContent = data.errors.email;
            }
        } catch (err) {
            
        }
    })

    
    const projectCreateForm = document.querySelector("#create-project");
    const projectNameError = document.querySelector(".name.error");
    const projectDueDateError = document.querySelector(".due-date.error");

    projectCreateForm.addEventListener("submit", async(e) => {
        e.preventDefault();
        
        projectNameError.textContent = "";
        projectDueDateError.textContent = "";

        const name = projectCreateForm.name.value;
        const due_date = projectCreateForm.due_date.value;
        const description = projectCreateForm.description.value;


        if(due_date < Date.now()) {
            projectDueDateError.textContent = "Please enter a valid due date";
            projectCreateForm.removeEventListener("submit");
        }



        try {
            const res = await fetch("/<%= user.username %>/project/create", {
                method: "POST",
                body: JSON.stringify({ name, due_date, description }),
                headers: { "Content-Type": "application/json" }
            });
            const data = await res.json();

            if (data.user) {
                location.assign(`/${data.user.username}`);
            }

            if (data.errors) {
                projectNameError.textContent = data.errors.name;
            }
        } catch (err) {
            console.log(err);
        }

    })

</script>

<%- include("./partials/footer") %> 