<%- include("./partials/header") %>

<div class="row profile-row card-columns justify-content-around">

    <!-- Project Details -->
    <div class="col-sm-3 project-side p-4 text-center bio-side card">

        <h4><%= project.name %></h4>
        <small class="text-muted">Created on <strong><%= project.date_created_formatted %></strong></small><br>
        <small class="text-danger">Due on <strong><%= project.due_date_formatted %></strong></small><br>

        <% if (project.isComplete) { %>
            <button id="project-complete" class="btn btn-success complete-btn my-2">Completed</button>
        <% } else { %>
            <button id="project-complete" class="btn btn-outline-success complete-btn my-2">Mark as complete</button>
        <% } %>
        <hr>

        <h5 class="text-primary">Description</h5>
        <p class="text-muted"><%= project.description %></p>

        <hr>

        <h5 class="text-primary">Total Tasks</h5>
        <p><%= project.tasks.length %></p>

        <h5 class="text-primary">Completed Tasks</h5>
        <p><%= completedTasks %> </p>

        <h5 class="text-primary">Ongoing Tasks</h5>
        <p><%= ongoingTasks %></p>

        <hr>

        <!-- Edit Project Button -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editprojectModal">
            Edit Project
        </button>
        <!-- Edit Project Button -->


        <!-- Edit Project Modal -->
        <div class="modal fade" id="editprojectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Project</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    
                    <form id="edit-project">
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" placeholder="Project Name" required="true" value="<%= project.name %>" autocomplete="off">
                                <div class="name error text-danger"></div>
                            </div>

                            <div class="form-group">
                                <label for="due date">Due date</label>
                                <input type="date" name="due_date" class="form-control" placeholder="Due Date" value="<%= project.due_date %>">
                                <div class="due-date error text-danger"></div>
                            </div>
                            
                            <div class="form-group">
                                <textarea name="description" class="form-control" placeholder="Brief Description" cols="30" rows="10"><%= project.description %></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Edit Project</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Edit Project Modal -->


        <!-- Delete Project Button -->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteprojectModal">
            Delete Project
        </button>
        <!-- Delete Project Button -->

        <!-- Delete Project Modal -->
        <div class="modal fade" id="deleteprojectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Project</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    
                    <!-- Delete Project Form -->
                    <form action="/<%= user.username %>/project/<%= project._id %>/delete" method="POST">
                        <div class="modal-body">
                            <p>Are your sure you want to delete <strong>"<%= project.name %>"</strong>?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No, Go back</button>
                            <button type="submit" class="btn btn-danger">Yes, Delete Project</button>
                        </div>
                    </form>
                    <!-- Edit Project Form -->
                </div>
            </div>
        </div>
        <!-- Delete Project Modal -->
        
    </div>
    <!-- Project Details -->

    
    
    <!-- Task Details -->
    <div class="col-md-8 profile-side p-4 card">

        <!-- Add tasks button -->
        <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#taskCreateModal">
        Add Task
        </button>
        <!-- Add tasks button -->


        <!-- Add Tasks Modal -->
        <div class="modal fade" id="taskCreateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Task</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    
                    <form id="create-task">
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" placeholder="Task Name" autocomplete="off">
                                <div class="name error text-danger"></div>
                            </div>
                            
                            <div class="form-group">
                                <textarea name="description" class="form-control" placeholder="Brief Description" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add Task</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Add Tasks Modal -->

        <h3 class="my-3 text-center">All Tasks for <%= project.name %></h3>
        <hr>


        <!-- List of all the Tasks -->
        <div id="accordion">

            <% project.tasks.forEach((task, i) => { %>
                <div class="card">
                    <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <span class="float-right">

                            <!-- Mark as Complete -->
                            <form class="task-complete">
                                <input type="hidden" name="taskId" value="<%= task._id %>">
                                
                                    <% if (task.isComplete) { %>
                                        <button type="submit" class="btn btn-link p-0 mr-3" data-toggle="tooltip" title="Unmark as complete">
                                            <i class="far fa-times-circle text-danger" style="font-size: 20px"></i>
                                        </button>
                                    
                                    <% } else { %>
                                        <button type="submit" class="btn btn-link p-0 mr-3" data-toggle="tooltip" title="Mark as complete">
                                            <i class="far fa-check-square text-success" style="font-size: 20px"></i>
                                        </button> 
                                    <% } %> 

                                <!-- Task Edit Button -->
                                <a class="mr-3" data-toggle="modal tooltip" title="Edit Task" href="#taskEditModal<%= i %>">
                                    <i id="task-edit" class="fas fa-edit text-primary"></i>
                                </a>
                                <!-- Task Edit Button -->

                                <!-- Task Delete Button -->
                                <a class="mr-3" data-toggle="modal tooltip" title="Delete Task"" href="#taskDeleteModal<%= i %>">
                                    <i id="task-delete" class="fas fa-trash-alt text-danger"></i>
                                </a>
                                <!-- Task Delete Button -->
                            </form>
                            <!-- Mark as Complete -->

                        

                            <!-- Task Edit Modal -->
                            <div class="modal fade" id="taskEditModal<%= i %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Edit Task</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        
                                        <form id="edit-task">
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <input type="text" name="name" class="form-control" placeholder="Task Name" value="<%= task.name %>" autocomplete="off">
                                                    <div class="name error text-danger"></div>
                                                </div>

                                                <input type="hidden" name="taskId" value="<%= task._id %>">
                                                
                                                <div class="form-group">
                                                    <textarea name="description" class="form-control" placeholder="Brief Description" cols="30" rows="10"><%= task.description %></textarea>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Edit Task</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Task Edit Modal -->


                            <!-- Task Delete Modal -->
                            <div class="modal fade" id="taskDeleteModal<%= i %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Delete Task</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        
                                        <form id="edit-task" action="/<%= user.username %>/project/<%= project._id %>/task/<%= task._id %>/delete" method="POST">
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete <strong>"<%= task.name %>"</strong>?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Delete Task</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Task Delete Modal -->


                        </span>
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse<%= i %>" aria-expanded="true" aria-controls="collapse<%= i %>" style="text-decoration: none;">
                            <span <% if (task.isComplete) { %> class="text-success" <% } %>>
                                <%= task.name %>
                            </span>
                        </button>
                    </h5>
                    </div>

                    <div id="collapse<%= i %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                        <small class="text-muted">Created on <strong><%= task.date_created_formatted %></strong></small><br>
                            <%= task.description %>
                        </div>
                    </div>
                </div>
            <% }) %>

        </div>
        <!-- List of all the Tasks -->


        

    </div>
    <!-- Task Details -->

</div>


<script>
    const projectEditForm = document.querySelector("#edit-project");
    const projectNameError = document.querySelector(".name.error");
    const projectDueDateError = document.querySelector(".due-date.error");

    // Edit Project
    projectEditForm.addEventListener("submit", async(e) => {
        e.preventDefault();
        
        projectNameError.textContent = "";
        projectDueDateError.textContent = "";

        const name = projectEditForm.name.value;
        const due_date = projectEditForm.due_date.value;
        const description = projectEditForm.description.value;


        if(due_date < Date.now()) {
            projectDueDateError.textContent = "Please enter a valid due date";
            projectEditForm.removeEventListener("submit");
        }



        try {
            const res = await fetch("/<%= user.username %>/project/<%= project._id %>/edit", {
                method: "POST",
                body: JSON.stringify({ name, due_date, description }),
                headers: { "Content-Type": "application/json" }
            });
            const data = await res.json();

            if (data.user) {
                location.assign(`/${data.user.username}/project/${data.project._id}`);
            }

            if (data.errors) {
                projectNameError.textContent = data.errors.name;
            }
        } catch (err) {
            console.log(err);
        }

    })


    const taskCreateForm = document.querySelector("#create-task");
    const taskNameError = document.querySelector("#create-task .name.error");

    // Create Task
    taskCreateForm.addEventListener("submit", async(e) => {
        e.preventDefault();

        taskNameError.textContent = "";

        const name = taskCreateForm.name.value;
        const description = taskCreateForm.description.value;


        try {
            const res = await fetch("/<%= user.username %>/project/<%= project._id %>/task/create", {
                method: "POST",
                body: JSON.stringify({ name, description }),
                headers: { "Content-Type": "application/json" }
            });
            const data = await res.json();

            if (data.task) {
                location.assign("/<%= user.username %>/project/<%= project._id %>")
            }

            if (data.errors) {
                taskNameError.textContent = data.errors.name;
            }
        } catch (err) {
            console.log(err);
        }

    })


    const taskEditForm = document.querySelector("#edit-task");
    const taskEditNameError = document.querySelector("#edit-task .name.error");

    // Edit Task
    if (taskEditForm) {
        taskEditForm.addEventListener("submit", async(e) => {
        e.preventDefault();

        taskNameError.textContent = "";

        const name = taskEditForm.name.value;
        const description = taskEditForm.description.value;
        const taskId = taskEditForm.taskId.value;


        try {
            const res = await fetch(`/<%= user.username %>/project/<%= project._id %>/task/${taskId}/edit`, {
                method: "POST",
                body: JSON.stringify({ name, description }),
                headers: { "Content-Type": "application/json" }
            });
            const data = await res.json();

            if (data.task) {
                location.assign("/<%= user.username %>/project/<%= project._id %>")
            }

            if (data.errors) {
                taskNameError.textContent = data.errors.name;
            }
        } catch (err) {
            console.log(err);
        }
    })

    }
    

    const projectComplete = document.querySelector("#project-complete");

    // Complete Task
    projectComplete.addEventListener("click", async() => {
        try {
            const res = await fetch("/<%= user.username %>/project/<%= project._id %>/complete", {
                method: "POST",
            });
            const data = await res.json();

            if (data.project) {
                location.assign(`/<%= user.username %>/project/<%= project._id %>`);
            }
        } catch (err) {
            console.log(err);
        }
    })


    const taskCompleteForms = document.querySelectorAll(".task-complete");

    taskCompleteForms.forEach(taskForm => {
        console.log(taskForm);
        taskForm.addEventListener("submit", async(e) => {
            e.preventDefault();

            const taskId = taskForm.taskId.value;

            try {
                const res = await fetch(`/<%= user.username %>/project/<%= project._id %>/task/${taskId}/complete`, {
                    method: "POST"
                })
                const data = await res.json();

                if (data.task) {
                    location.assign(`/<%= user.username %>/project/<%= project._id %>`)
                }
            } catch (err) {
                console.log(err);
            }
        })
    })

</script>
<%- include("./partials/footer") %> 